.tabControl
{
    display: flex;
    min-height: 35px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    padding: 1px;
    .item-tooltip {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        background: #FFFFFF;
        & > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            .user-item {
                padding: 5px 0;
                border-bottom: 1px solid #CCCCCC;
                p {
                    margin: 0;
                    &.full-name {
                        font-weight: bold;
                    }
                    &.job-title {
                        font-style: italic;
                    }
                }
            }
        }
    }
    .tabContainer {
        // align-items: center;
        background-color: rgb(255, 255, 255);
        cursor: default;
        // display: flex;
        // flex-wrap: wrap;
        // min-height: 35px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        .tabContent {
            background-color: rgb(230, 230, 230);
            border-radius: 2px;
            display: inline-flex;
            margin: 2px;
            min-width: 0px;
            box-sizing: border-box;
        
            .tabLabel {
                border-radius: 2px;
                color: rgb(51, 51, 51);
                font-size: 85%;
                overflow: hidden;
                padding: 3px 3px 3px 6px;
                text-overflow: ellipsis;
                white-space: nowrap;
                box-sizing: border-box;
            }
        }
    }

    .total {
        font-size: 13px;
        background: #FCE8E6;
        color: #d93025;
        font-weight: bold;
        width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        cursor: pointer;
      }
}

.downIcon {
    -webkit-text-stroke: 1px #d1d3e2;
    font-size: 20px;
    border-left: 2px solid #d1d3e2;
    width: 40px;
    height: 20px;
    padding-top: 2px;
    padding-left: 12px;
    cursor: pointer;
    &:hover {
        color: rgb(51, 51, 51);
    }
}
.closeIconAll {
    -webkit-text-stroke: 1px white;
    cursor: pointer;
    &:hover {
        color: rgb(51, 51, 51);
    }
}
.closeIcon {
    -webkit-text-stroke: 2px rgb(230, 230, 230);;
    cursor: pointer;
    &:hover {
        color: rgb(51, 51, 51);
    }
}

