// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  & > [class^="css-"] {
    font: normal 14px Arial, Helvetica, sans-serif;
  }
  .progress {
    background: none;
  }
  .required {
    color: red;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
  }
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: calc(100% - 300px);
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.scroll-to-top2 {
  position: fixed;
  right: 1rem;
  bottom: 4em;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #e74a3b;
  opacity: 0.5;
  background: transparent;
  line-height: 46px;
  &:focus,
  &:hover {
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
  }
  i {
    font-weight: 800;
  }
}

.info-modal-common {
  font-family: Arial, Helvetica, sans-serif;
  .modal-content {
    .modal-header {
      background: #FFFFFF;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .modal-title {
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .close {
        top: 25px;
        right: 20px;
        color: #707070;
        width: 25px;
        height: 25px;
        font-size: 26px;
        outline: none;
        span {
          top: 10px;
          left: 0;
        }
      }
      &.apply-position-modal {
        background: #347EF9;
        padding-left: 20px;
        padding: 1rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .close {
          color: #FFFFFF;
          background: none;
          top: 35px;
        }
      }
      &.bg-not-approved {
        background: #e74a3b;
      }
    }
    .modal-body {
      padding: 1rem 2rem 2rem 2rem;
      .message {
        margin-bottom: 20px;
      }
      .validation-message {
        margin-top: 8px;
      }
      button {
        &.bg-not-approved {
          background: #e74a3b;
          border-color: #e74a3b;
        }
      }
    }
  }
  .description {
    font-size: 20px;
    color: #000000;
    margin-bottom: 2rem;
  }
  .ic-status {
    width: 70px;
    height: 70px;
  }
  &.position-apply-modal {
    .modal-body {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      .wrap-result {
        text-align: center;
      }
    }
    .form-group {
      margin-bottom: 1.2rem;
      &.file-block {
        margin-bottom: 0;
      }
    }
    input[type="file"] {
      display: none;
    }
    .custom-file-upload {
      border: 1px solid #d1d3e2;
      display: inline-block;
      width: 100%;
      max-width: 100%;
      padding: 6px 12px;
      border-radius: 0.35rem;
      cursor: pointer;
    }
    .file-name-upload {
      margin-left: 10px;
    }
    .option-apply {
      label {
        cursor: pointer;
      }
      &:first-child {
        margin-right: 20px;
      }
    }
    .apply-option {
      text-align: left;
      margin-bottom: 15px;
    }
    .buttons-block {
      text-align: right;
      .btn {
        width: 160px;
        border-radius: 50px;
        border-color: transparent;
      }
      .btn-close {
        background: #BEBEBE;
      }
      .btn-send {
        margin-left: 20px;
      }
    }
  }
  &.qna-history-modal {
    font-size: 14px;
    .question-status {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .modal-content {
      .modal-header {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        .close span {
          top: 6px;
        }
      }
      .modal-body {
        padding: 1rem 2rem;
      }
    }
  }
  &.qna-create-modal {
    font-size: 14px;
    .question-status {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .modal-content {
      .modal-header {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        .close span {
          top: 6px;
        }
      }
      .modal-body {
        padding: 1rem 2rem;
        .form-group {
          input {
            font-size: inherit;
          }
        }
        .action-buttons button {
          font-size: inherit;
        }
      }
      .line-partition {
        border: none;
        border-bottom: 1px solid #e3e6f0;
      }
    }
  }
  &.vaccine-create-info {
    font-size: 14px;
    .modal-content {
      .modal-header {
        padding: 0.7rem 1rem;
        .close {
          top: 30px;
        }
      }
      .modal-body {
        padding-bottom: 1rem;
        .form-content {
          input {
            font-size: inherit !important;
            &.input-text {
              height: 38px;
            }
            &[type=radio] {
              width: 10px;
              cursor: pointer;
            }
          }
          .effect-infos {
            padding-left: 0;
            b {
              font-size: 14px;
            }
          }
          .effect-table {
            max-height: 300px;
            overflow-y: auto;
            border-right: none !important;
            &::-webkit-scrollbar {
              width: 8px;
              background-color: #f5f5f5;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #a4afb7;
              border-left: 1px solid white;
              border-right: 1px solid white;
              border-radius: 4px;
            }
            &::-webkit-scrollbar-track {
              background-color: #d3d3d3;
              border-left: 3.5px solid white;
              border-right: 3.5px solid white;
            }
            table {
              margin-bottom: 0;
              border-collapse: separate;
              thead {
                th {
                  position: sticky;
                  top: 0;
                  background: #FFFFFF;
                  z-index: 1;
                  border-bottom: 1px solid #e3e6f0;
                  border-top: none;
                }
              }
              tbody {
                td {
                  padding: 0.6rem;
                  vertical-align: middle;
                  .label-option-yn-vaccin {
                    height: unset;
                    padding: 0 15px;
                  }
                }
                tr {
                  &:first-child {
                    td {
                      border-top: none;
                    }
                  }
                }
              }
            }
          }
          .form-group {
            margin-bottom: 0.8rem;
          }
          .react-datepicker-popper {
            z-index: 99;
          }
        }
        .action-buttons {
          button {
            font-size: inherit;
          }
        }
      }
    }
  }
}
