// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  & > [class^="css-"] {
    font: normal 14px Arial, Helvetica, sans-serif;
  }
  .progress {
    background: none;
  }
  .required {
    color: red;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
  }
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.scroll-to-top2 {
  position: fixed;
  right: 1rem;
  bottom: 4em;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: #e74a3b;
  opacity: 0.5;
  background: transparent;
  line-height: 46px;
  &:focus,
  &:hover {
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
  }
  i {
    font-weight: 800;
  }
}

.info-modal-common {
  font-family: Arial, Helvetica, sans-serif;
  .modal-content {
    .modal-header {
      background: #FFFFFF;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      .modal-title {
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
      }
      .close {
        top: 25px;
        right: 20px;
        color: #707070;
        width: 25px;
        height: 25px;
        font-size: 26px;
        outline: none;
        span {
          top: 10px;
          left: 0;
        }
      }
      &.apply-position-modal {
        background: #347EF9;
        padding-left: 20px;
        padding: 1rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        .close {
          color: #FFFFFF;
          background: none;
          top: 35px;
        }
      }
      &.bg-not-approved {
        background: #e74a3b;
      }
    }
    .modal-body {
      padding: 1rem 2rem 2rem 2rem;
      .message {
        margin-bottom: 20px;
      }
      .validation-message {
        margin-top: 8px;
      }
      button {
        &.bg-not-approved {
          background: #e74a3b;
          border-color: #e74a3b;
        }
      }
    }
  }
  .description {
    font-size: 20px;
    color: #000000;
    margin-bottom: 2rem;
  }
  .ic-status {
    width: 70px;
    height: 70px;
  }
  &.position-apply-modal {
    .modal-body {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      .wrap-result {
        text-align: center;
      }
    }
    .form-group {
      margin-bottom: 1.2rem;
      &.file-block {
        margin-bottom: 0;
      }
    }
    input[type="file"] {
      display: none;
    }
    .custom-file-upload {
      border: 1px solid #d1d3e2;
      display: inline-block;
      width: 100%;
      max-width: 100%;
      padding: 6px 12px;
      border-radius: 0.35rem;
      cursor: pointer;
    }
    .file-name-upload {
      margin-left: 10px;
    }
    .option-apply {
      label {
        cursor: pointer;
      }
      &:first-child {
        margin-right: 20px;
      }
    }
    .apply-option {
      text-align: left;
      margin-bottom: 15px;
    }
    .buttons-block {
      text-align: right;
      .btn {
        width: 160px;
        border-radius: 50px;
        border-color: transparent;
      }
      .btn-close {
        background: #BEBEBE;
      }
      .btn-send {
        margin-left: 20px;
      }
    }
  }
}
