.registration-employment-termination {
    color: #000000;
    .page-title {
      text-align: center;
      color: #ff0000;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .block {
      .block-title {
        text-transform: uppercase;
        font-weight: bold;
        color: #283280;
      }
      input {
        &:focus {
          box-shadow: none;
          border-color: #d1d3e2;
        }
      }
      .react-datepicker-wrapper {
        cursor: pointer;
        [class$="-container"] {
          margin-top: 0;
        }
      }
      .has-border-bottom {
        padding-bottom: 15px;
        border-bottom: 1px solid #CCCCCC;
      }
    }
  }