.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}
.icon-c-home {
    background-image: url('../img/icon/Icon_home.svg');
}
.icon-c-vingroup-history {
  background-image: url('../img/icon/Icon_vingroup_history.svg');
}
.icon-c-hr {
  background-image: url('../img/icon/Icon_hr.svg');
}
.icon-c-dt {
  background-image: url('../img/icon/Icon_dao_tao.svg');
}
.icon-c-recruiment {
  background-image: url('../img/icon/Icon_recuirement.svg');
}
.icon-c-task {
  background-image: url('../img/icon/Icon_job_management.svg');
}
.icon-c-group {
  background-image: url('../img/icon/Icon_info_group.svg');
}
.icon-c-notification {
  background-image: url('../img/icon/Icon_notification.svg');
}
.icon-c-qa {
  background-image: url('../img/icon/Icon_qa.svg');
}
.icon-c-instruct{
  background-image: url('../img/icon/Icon_instruct.svg');
}
.icon-c-examination {
  background-image: url('../img/icon/Icon_examination.svg');
}
.icon-c-resignation-requests-management{
  background-image: url('../img/icon/Icon_resignation_requests_management.svg');
}
.icon-project-info {
  background-image: url('../img/icon/Icon_examination.svg');
}
.icon-evaluation {
  background-image: url('../img/icon/Icon_Evaluation.svg');
}
.icon-c-resignation-requests-management{
  background-image: url('../img/icon/Icon_resignation_requests_management.svg');
}
.icon-c-my-voucher {
  background-image: url('../img/icon/ic_my-voucher.svg');
}