.jd-section {
    margin-bottom: 30px;

    .jd-border {
        border: 1px solid none;
        border-radius: 5px !important;
        border-left-width: 10px !important;
        border-bottom: none !important;
    }

    .card {
        margin-top: 20px;
    }

    .title {
        color: #2a377c;
        font-weight: bold;
        display: block;
    }
}