.leave-time-page {
    font: normal 14px Arial, Helvetica, sans-serif;
    color: #000000;
    .searchTitle {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .shadow {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px !important;
        border-radius: 4px !important;
    }
    .summary {
        margin: 15px;
        .box {
            background-color: #fff;
            border-radius: 10px;
            padding: 15px;
            margin-right: 15px;
            .title {
                font-size: 14px;
                font-weight: 600;
                display: block;
                text-align: center;
                width: 100%;
                margin: 0 0 20px 0;
            }
            .content {
                display: block;
                margin-bottom: 20px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .relative {
            position: relative;
        }
        .absolute-center {
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .text-center{
            text-align: center;
        }
          
        p {
            font-size: inherit;
            width: 45px;
        }
        .description {
            .item {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            i {
                margin-right: 2px;
            }
        }
    }
    .leave-time-detail {
        font-size: inherit!important;
        .card-body {
            padding: 15px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            body {
                font: inherit;
            }
            .header {
                font: inherit;
                font-weight: bold;
            }
        }
    }
    .search-box {
        display: block;
        background-color: #fff;
        width: 100%;
        padding: 15px;
        // margin: 10px 0px;
        border-radius: 10px;
        .title {
            display: block;
            margin: 0 0 10px 0;
        }
        .content {
            display: block;
        }
        .input-container {
            position:relative;
            .input {
                margin:0;
                padding-right: 40px;
                padding-left: 10px;
                font-size: inherit;
            }
            .input-img {
                position: absolute;
                top: 10px;
                right: 5px;
                bottom: unset;
            }
            i {
                font-size: 18px;
            }
        }
        .btn-search {
            width: 100%;
            font-size: inherit;
            color: #FFFFFF;
        }
        .note {
            display: block;
            margin-left: 5px;
        }
    }
    .leave-time-detail {
        .card {
            margin: 20px 0;
            border: none;
        }

        .header {
            font-weight: bold;
            color: #4e73df;
            margin-bottom: 10px;
            font-size: 16px;
        }

        body {
            .row {
                padding: 10px;
            }
            
            p {
                margin: 2px 0;
            }

            .row:nth-child(odd) {
                background-color: #f2f2f2;
            }
        }
    }
    .view-detail-block {
        margin-top: 15px;
        .view-detail {
            outline: none;
            border: 1px solid #DEE2E6;
            color: #C11D2A;
            border-radius: 4px;
            padding: 0 30px;
            height: 40px;
            font-size: inherit;
            background: #FFFFFF;
            img {
                margin-left: 10px;
                height: 11px;
                margin-top: -2px;
            }
        }
    }
}

.leave-time-card {
    .card {
        margin: 20px 0;
        border: none;
    }

    .header {
        font-weight: bold;
        color: #4e73df;
        margin-bottom: 10px;
        font-size: 16px;
        background-color: #fff !important;
        padding: 0 !important;
       
    }

    .row {
        padding: 10px;
    }
    
    p {
        margin: 2px 0;
    }

    .row:nth-child(odd) {
        background-color: #f2f2f2;
    }
}
