.custom-split-table {
    th,td {
        padding: 0.5rem;
        vertical-align: middle;
        border: 1px solid #b8b8b9;
        text-align: center;
        font-size:13px;
    }
    .divide{
        border:none;
        height: 10px;
    }
}