.leave-time-page {
    .searchTitle {
        font-weight: bold;
        color: #2a377c;
    }
    .summary {
        margin: 30px 10px;
        .box {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-right: 10px;

            .title {
                font-size: 16px;
                font-weight: 600;
                display: block;
                text-align: center;
                width: 100%;
                margin-bottom: 20px;
                min-height: 48px;
            }

            .content {
                display: block;
                margin-bottom: 20px;
            }
        }

        .relative {
            position: relative;
          }
          
          .absolute-center {
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            div {
                font-size: 14px;
            }
          }
          
          .text-center{
            text-align: center;
          }
          
          p {
            font-size: 11px;
            width: 45px;
          }
    }

    .search-box {
        display: block;
        background-color: #fff;
        width: 100%;
        padding: 30px 10px;
        margin: 10px 0px;
        border-radius: 10px;
    
        .title {
            display: block;
            margin-bottom: 10px;
        }
    
        .content {
            display: block;
        }

        .input-container {
            position:relative;

            .input {
                margin:0;
                padding-right: 50px;
                width: 300px;
            }
            .input-img {
                position: absolute;
                bottom: 22px;
                left: 270px;
                width: 24px;
                height: 24px;
            }
            i {
                font-size: 24px;
                font-weight: 100;
            }
        }
    
        .btnSearch {
            width: 100%;
        }

        .note {
            display: block;
            margin-left: 5px;
        }
    }

    .leave-time-detail {
        .card {
            margin: 20px 0;
            border: none;
        }

        .header {
            font-weight: bold;
            color: #4e73df;
            margin-bottom: 10px;
            font-size: 16px;
        }

        body {
            .row {
                padding: 10px;
            }
            
            p {
                margin: 2px 0;
            }

            .row:nth-child(odd) {
                background-color: #f2f2f2;
            }
        }
    }
}

.leave-time-card {
    .card {
        margin: 20px 0;
        border: none;
    }

    .header {
        font-weight: bold;
        color: #4e73df;
        margin-bottom: 10px;
        font-size: 16px;
        background-color: #fff !important;
       
    }

    .row {
        padding: 10px;
    }
    
    p {
        margin: 2px 0;
    }

    .row:nth-child(odd) {
        background-color: #f2f2f2;
    }
}
