.notification-guide {
    .list-notification-popup {
        right: -200px !important;
        color: #000;
        min-height: 233px;
        padding: 20px 7px 20px 20px!important;
        position: absolute;
        box-shadow: 0px 0px 4px 0px #00000040 !important;
        .timekeeping-title-block {
          padding-bottom: 16px;
          margin-right: 15px;
          border-bottom: 1px solid #CED4DA;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          position: relative;
          .close-icon {
            position: absolute;
            cursor: pointer;
            top: -12px;
            right: -15px;
          }
        }
        .details-link {
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          color: #D13238;
          cursor: pointer;
        }
        .details-link:hover {
          text-decoration: none;
        }
        .no-data-div {
          text-align: center;
        }
    }
}

.guide-icon {
  cursor: pointer;
}

#notifications-block {
    display: inline-block;
    margin-left: 0;
    position: relative;
    .dropdown-toggle {
        background: none;
        border: none;
        outline: none;
        border-radius: 0;
        &::after {
            border: none;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:active {
            outline: none;
            box-shadow: none;
        }
    }
    .ic-customize {
        font-size: 25px;
        color: #000000;
    }
    .count {
        position: absolute;
        background: #FF0000;
        width: 21px;
        height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        border-radius: 12px;
        font-size: 9px;
        top: 0;
        right: 6px;
    }
    .list-notification-popup {
        color: #000;
        width: 430px;
        right: -130px;
        left: unset;
        border-radius: 4px;
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.3);
        .title-block {
            padding: 10px 15px;
            color: #FFFFFF;
            background: #4298FF;
            text-transform: uppercase;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .all-items {
            padding: 15px 15px 0 15px;
            border-bottom: none;
            max-height: 376px;
            overflow-x: hidden; 
            overflow-y: auto;
            margin-right: 5px;
            .item {
                border-bottom: 1px solid #a5a3a3;
                padding-bottom: 10px;
                margin-bottom: 10px;
                .title {
                    font-weight: bold;
                    margin: 5px 0;
                }
                .description {
                    margin: 5px 0;
                }
                .time-file {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 11px;
                    .time {
                        margin-right: 25px;
                    }
                    .ic-clock, .ic-attachment {
                        margin-right: 5px;
                    }
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #B3B3B3;
                border-radius: 3px;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }
        .view-all {
            display: block;
            padding: 0 15px 10px 15px;
            color: #FF0000;
        }
        .timekeeping-list-container.show-scroll {
            max-height: 400px;
            overflow-y: auto;
            padding-right: 7px;
            &::-webkit-scrollbar {
                width: 6px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #B3B3B3;
                border-radius: 3px;
            }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
        }
    }
}

.list-notifications-section {
    font-size: 14px;
    .search-block {
        display: flex;
        justify-items: center;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 15px;
        .block-left {
            .title-search-block {
                text-transform: uppercase;
                font-weight: bold;
                color: #283280;
            }
            .text-search {
                width: 400px;
                border-radius: 4px;
                border: 1px solid #d1d3e2;
                &:active {
                    outline: none;
                }
                &:focus {
                    outline: none;
                }
                padding: 8px 10px;
            }
        }
        .block-right {
            border: 1px solid #FF7F00;
            border-radius: 10px;
            .contact-block {
                margin-left: -1px;
                .title {
                    background: #FF7F00;
                    color: #FFFFFF;
                    text-align: center;
                    // font-size: 13px;
                    border-top-left-radius: 9px;
                    border-top-right-radius: 9px;
                    padding: 5px;
                    margin: 0;
                }
                .phone {
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 10px 15px;
                    color: #FF7F00;
                    ul {
                        margin: 0;
                        list-style: none;
                        padding: 0;
                        li {
                            padding: 5px;
                            // font-size: 13px;
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            .ic-phone {
                                display: inline-flex;
                                border: 1px solid #FF7F00;
                                width: 20px;
                                height: 20px;
                                justify-content: center;
                                align-items: center;
                                align-content: center;
                                margin-right: 8px;
                                border-radius: 10px;
                                i {
                                   font-size: 10px;
                                }
                            }
                            a {
                                color: #FF7F00;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .wrap-list-notifications-section {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }
    .list-notifications-block {
        .item {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 15px;
            margin-bottom: 15px;
            .content {
                width: 100%;
                .title {
                    color: #4298FF;
                    font-weight: bold;
                    &.readed {
                        color: #B3B3B3;
                    }
                }
                .description {
                    margin: 5px 0 10px 0;
                    color: #000000;
                }
                .time-attachment-detail-block {
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    .time-attachment-block {
                        color: #858796;
                        // font-size: 12px;
                        .time-block {
                            margin-right: 20px;
                            .ic-clock {
                                margin-right: 5px;
                            }
                        }
                        .attachment-block {
                            .ic-attachment {
                                margin-right: 5px;
                            }
                        }
                    }
                    .detail-link {
                        color: #FF0000;
                        // font-size: 13px;
                        font-weight: bold;
                    }
                }
            }
            .ic-notification {
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 21px;
                background: #4298FF;
                color: #FFFFFF;
                font-weight: normal;
                margin-right: 15px;
                img {
                    height: 18px;
                }
            }
        }
    }
}

.notifications-detail-section {
    font-size: 14px;
    .title-block {
        color: #283280;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .create-qna {
        font-size: inherit;
    }
    .notification-detail-card {
        box-shadow: 0 0 4px 0 rgba(0,0,0,.251);
    }
    .detail-notifications-block {
        .content {
            img {
                width: 100%;
            }
            & > p {
                margin-bottom: 0;
            }
        }
        & > hr {
            border: 1px solid #cccaca;
            border-top: 0;
        }
        .list-attachment-files {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            flex-wrap: wrap;
            .file {
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                color: #4e73df;
                margin-right: 3px;
                
                .file-name {
                    text-decoration: none;
                    //color: #858796;
                }
                .ic-file {
                    font-size: 18px;
                    margin-right: 5px;
                    &.fa-file-pdf {
                        color: #DC554A;
                    }
                    &.fa-file-word {
                        color: #285293;
                    }
                    &.fa-file-excel {
                        color: #1F6F43;
                    }
                    &.fa-file-archive {
                        color: #691F26;
                    }
                }
            }
        }
        .ck-content .image-style-align-right {
            float: right;
            margin-left: var(--ck-image-style-spacing);
        }
            
        .ck-content .image {
            display: table;
            clear: both;
            text-align: center;
            margin: 1em auto;
            width: 100%;
        }
            
        .ck-content .image.image_resized {
            max-width: 100%;
            display: block;
            box-sizing: border-box;
        }
            
        .ck-content .image-style-align-left {
            float: left;
            margin-right: var(--ck-image-style-spacing);
        }
        .ck-content:after{
            clear: both;
            content: ".";
            display: block;
        }
    }
}

.use-guide-modal {
  .modal-content {
    .modal-body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 20px;
      background: #F9F9F9;
      border-radius: 4px;
      .link {
        color: #212529;
      }
      .link:hover {
        text-decoration: none;
      }
      .cursor-pointer {
        cursor: pointer;
      }
      .title {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 16px;
        border-bottom: 1px solid #DEE2E6;
        margin: 0px;
        margin-bottom: 20px;
        text-transform: uppercase;
        .icon-close {
          position: absolute;
          top: -30px;
          right: -30px;
          cursor: pointer;
        }
      }
      .body {
        background: #fff;
        padding: 20px;
      }
      .icon-prefix-select {
        position: absolute;
        top: 12px;
        left: 8px;
        z-index: 999;
      }
      .search-input {
        font-size: 14px;
        border-color: #CCCCCC;
        &:focus {
            box-shadow: none;
        }
        padding-left: 28px;
        height: 40px;
        margin-bottom: 20px;
      }
      .mb-15 {
        margin-bottom: 15px !important;
      }
      .content-table {
        font-size: 14px;
        .content-header {
          background: rgba(242, 242, 242, 0.95);
          border: 1px solid #DEE2E6;;
        }
        .content-item {
          border: 1px solid #DEE2E6;
          display: flex;
          .content-col {
            word-break: break-all;
          }
        }
        .content-col-1 {
          width: 52px;
          padding: 10px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #DEE2E6;
        }
        .content-col-2 {
          width: 440px;
          display: inline-flex;
          flex-direction: column;
          padding: 10px;
          border-right: 1px solid #DEE2E6;
          gap: 5px;
        }
        .content-col-3 {
          width: 110px;
          padding: 10px;
          display: inline-flex;
          justify-content: flex-start;
          flex-direction: column;
          border-right: 1px solid #DEE2E6;
          gap: 5px;
        }
        .content-col-4 {
          width: 110px;
          padding: 10px;
          justify-content: flex-start;
          flex-direction: column;
          display: inline-flex;
          gap: 5px;
        }
      }
    }
  }
}

.use-guide-dialog-modal {
  width: 800px;
  max-width: 800px;
}