.confirm-password-modal {
    font: normal 15px Arial, Helvetica, sans-serif;
    .modal-content {
        .modal-header {
            background: #FFFFFF;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            .modal-title {
                font-size: 16px;
            }
            .close {
                top: 25px;
                right: 20px;
                color: #707070;
                width: 25px;
                height: 25px;
                font-size: 26px;
                outline: none;
                cursor: pointer;
                span {
                    top: 10px;
                    left: 0;
                }
            }
        }
        .modal-body {
            padding: 1rem 2rem 1rem 2rem;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            .label {
                font-weight: bold;
                margin-bottom: 10px;
            }
            form {
                .btn-submit {
                    width: 100%;
                }
                input {
                    font-size: inherit;
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.payslips-section {
    .clear {
        clear: both;
    }
    .color-black {
        color: #000000;
    }
    .bold {
        font-weight: bold;
    }

    .search-block {
        .title-search-block {
            text-transform: uppercase;
            color: #283280;
            font-weight: bold;
        }
        .search-form {
            option {
                padding-top: 5px;
                padding-bottom: 5px;
            }
    
            .btn-submit {
                width: 100%;
                background: #F9C20A;
                border: 1px solid #F9C20A;
                color: #FFFFFF;
                outline: none;
            }
        }
    }
    // .result-block {
    //     padding: 0 0 10px 0;
    // }
    .main-result-section {
        padding: 15px 0;
        .block-title {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            .block-label {
                .title {
                    text-align: center;
                    font-size: 16px;
                    text-transform: uppercase;
                    &.special {
                        color: #283280;
                    }
                }
            }
        }
        .column-item {
            padding: 0;
            list-style: none;
            & > li {
                padding: 5px 0;
            }
            &.first-column {
                .label {
                    display: inline-block;
                    width: 200px;
                }
            }
            &.second-column {
                .label {
                    display: inline-block;
                    width: 200px;
                }
            }
        }
    }

    .other-result-section {
        .workday-information-table {
            display: block;
            overflow-x: auto;
            width: 100% !important;
            border-collapse: collapse;
            margin-bottom: 1.5rem;
            background-color: #fff;
            tbody {
                border-spacing: 0; 
                border: 1px solid #cccaca;
                border-right: 2px solid #cccaca;
                .second-title {
                    td {
                        padding: 10px 0;
                    }
                }
                td {
                    border: 1px solid #cccaca;
                }
                .same-width {
                    width: 7.14%;
                    padding: 10px 5px;
                }
            }
            thead {
                .top-title {
                    padding: 10px 0;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: bold;
                    background: #347EF9;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
            }
            th, td {
                vertical-align: middle;
                text-align: center;
            }
        }

        .leave-days-information-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1.5rem;
            background-color: #fff;

            .title {
                font-weight: bold;
            }
            tbody {
                border-spacing: 0; 
                border: 1px solid #cccaca;
                border-right: 2px solid #cccaca;
                .title-second {
                    font-size: 11px;
                }
                td {
                    border: 1px solid #cccaca;
                }
                .same-width {
                    width: 25%;
                    padding: 10px;
                }
            }
            thead {
                .top-title {
                    padding: 10px 0;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: bold;
                    background: #347EF9;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    text-align: center;
                }
            }
            th, td {
                vertical-align: middle;
                text-align: left;
            }
        }

        .income-information-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 1.5rem;
            .title {
                font-weight: bold;
            }
            tr {
                &:first-child {
                    .special {
                        text-align: left;
                    }
                }
                &.root {
                    background: #97C0FF;
                }
                &.first {
                    background: #D9E6FA;
                }
                &.second {
                    background: #F0F6FF;
                }
            }
            tbody {
                border-spacing: 0; 
                border: 1px solid #cccaca;
                border-right: 2px solid #cccaca;
                .title-second {
                    font-size: 11px;
                }
                td {
                    padding: 10px;
                    border: 1px solid #cccaca;
                    &.special {
                        width: 58%;
                    }
                }
                .same-width {
                    width: 14%;
                    padding: 10px;
                    text-align: center;
                }
                .child-first {
                    margin-left: 15px;
                }
                .child-third {
                    margin-left: 30px;
                }
                .child-fourth {
                    margin-left: 45px;
                }
            }
            thead {
                .top-title {
                    padding: 10px 0;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    font-weight: bold;
                    background: #347EF9;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    text-align: center;
                }
            }
            th, td {
                vertical-align: middle;
                text-align: left;
            }
        }
    }
    .block-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 20px;
        button {
            border-style: solid;
            border-radius: 4px;
            border-width: 1px;
            width: 100px;
            background: #FFFFFF;
            padding: 5px;
            font-size: 14px;
            text-decoration: none;
            &.download-excel {
                margin-left: 15px;
                border-color: #28a745;
                color: #28a745;
                background: #FFFFFF url("../img/icon/Icon_download_green.svg") no-repeat 8px 9px/8px;
            }
            &.download-pdf {
                border-color: #e52c08;
                color: #e52c08;
                background: #FFFFFF url("../img/icon/Icon_download_red.svg") no-repeat 8px 9px/8px;
            }
            &:active {
                outline: none;
                box-shadow: none;
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}