.personal-info {
    .edit-button {
        .btn {
            margin: 5px;
        }
    }
}

.block-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    .status {
        padding: 4px 20px;
        border: 1px solid;
        border-radius: 30px;
        background: #FFFFFF;
        margin-right: 40px;
        &.success {
            border-color: #05BD29;
            color: #05BD29;
        }
        &.fail {
            border-color: #FF0000;
            color: #FF0000;
        }
        &.warning {
            border-color: #FFA200;
            color: #FFA200;
            background: #FFFFFF;
        }
        &.waiting {
            border-color: #dddddd;
            color: #383838;
            background: #FFFFFF;
        }
    }
    .hr-comments-block {
        color: #FF0000;
        .hr-comments {
            font-weight: bold;
        }
    }
    .title {
        margin-bottom: 0;
    }
}
.detail-page {
    .item-info {
        .detail {
            min-height: 40px;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            margin-top: 10px;
            background: #ECECEC;
            border-radius: 5px;
        }
    }
}

.edit-personal, .edit-personal-detail-request {
    .wrap-item {
        display: flex;
        flex-direction: column;
        .province {
            order: 1;
        }
        .district {
            order: 2;
        }
        .wards {
            order: 3;
        }
        .street {
            order: 4;
        }
        .temp-province {
            order: 5;
        }
        .temp-district {
            order: 6;
        }
        .temp-wards {
            order: 7;
        }
        .temp-street {
            order: 8;
        }
    }
    // display: flex;
    .date-label {
        position: relative;
    }
    .item-info {
        padding: 6px 0;
    }
    .title {
        font-weight: 700;
        color: #2a377c;
    }
    &.detail-page {
        .box {
            .note-new {
                background-color:#D4D6E5;
            }
        }
        .btn-edit-task {
            color: #FFFFFF;
        }
        .btn-eviction-task {
            color: #FFFFFF;
            background: red;
            border-color: red;
        }
    }
    .box {
        width: 100%;
        padding: 15px;
        border: 0;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 30px;
        .note {
            padding: 2px 10px;
            margin-right: 5px;
        }
        .note-old {
            background-color: #ececec;
        }
        .note-new {
            border: 1px solid #858796;
            background-color: #FFFFFF;
        }
        .note-create {
            background-color: #FFE5CC;
        }

        hr {
            border-color: 1px solid #ddd;
        }
        .row {
            margin-bottom: 10px;
        }
    }
    .info {
        .title {
            font-weight: 700;
            color: #2a377c;
        }
        .detail {
            border: 1px solid #E7E4E4;
            border-radius: 5px;
            padding: 6px 10px;
            min-height: 40px;
        }
        .old {
            .detail {
                background-color: #ececec;
            }
        }
        .new {
            .detail {
                background-color: #D4D6E5;
            }
        }
        .edit {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 6px 10px;
            min-height: 40px;
            cursor: pointer;
        }
        .row {
            margin-bottom: 10px;
        }
    }

    .education {
        .item {
            border: 1px solid #aaa;
            padding: 15px;
            margin-bottom: 15px;
            .info-value {
                &.old {
                    .detail {
                        background-color: #ececec;
                    }
                }
                &.new {
                    .detail {
                        background-color: #D4D6E5;
                    }
                }
                .detail {
                    border: 1px solid #e7e4e4;
                    border-radius: 5px;
                    padding: 6px 10px;
                    min-height: 40px;
                }
                .other-field {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .label {
                        flex-grow: 1;
                        text-align: left;
                        justify-content: flex-start;
                        margin-right: 0!important;
                    }
                    .input {
                        flex-grow: 2;
                    }
                }
            }
        }

        .add {
            margin: 10px 0;
        }

        .new-item {
            width: 100%;
            // border: 1px solid #aaa;
            padding: 15px;
            .info-value {
                &.create {
                    .detail {
                        background-color: #FFE5CC;
                    }
                }
                .detail {
                    border: 1px solid #e7e4e4;
                    border-radius: 5px;
                    padding: 6px 10px;
                    min-height: 40px;
                }
            }
        }

        .input-table {
            width: 98%;
        }

        .remove {
            width: 15px;
            padding-top: 40px;
            padding-left: 20px;
            text-align: center;
        }

        .close {
            opacity: 1;
        }

        .date {
            width: 110px;
        }
    }

    .file-name {
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 5px;

        .remove {
            margin-left: 10px;
            cursor: pointer;
        }

        .remove:hover {
            opacity: 0.6;
        }
    }
    .list-inline {
        margin-bottom: 0;
        .list-inline-item {
            margin-bottom: 30px;
        }
    }
    .input-container {
        position:relative;

        .input {
            margin:0;
            padding-right: 50px;
            width: 300px;
        }
        .input-img {
            position: absolute;
            top: 6px;
            right: 7px;
            width: 24px;
            height: 24px;
        }
        i {
            font-size: 24px;
            font-weight: 100;
        }
    }
}
.document-block {
    .document-item {
        display: block;
        padding: 10px 15px;
        border: 1px solid #dad6d6;
        border-radius: 8px;
        background: #FFFFFF;
        text-decoration: none;
        color: #858796;
    }
}