.registration-popover {
    max-width: 300px;
    p {
        padding: 5px;
        margin: 0;
    }
}

.registration-section {
    font: normal 14px Arial, Helvetica, sans-serif;
    .validation-message {
        font-size: 13px;
        margin: 6px 0;
        font-style: italic;
    }
    .task{
        input{
            min-height: 40px;
        }
    }
    .block-time-item-edit {
        .box-time, input {
            font-size: inherit;
        }
    }
    .block-note-item-edit, textarea {
        font-size: inherit;
    }
    .registration-detail {
        .btn-eviction-task {
            color: #FFFFFF;
            background: red;
            border-color: red;
        }
    }
    .in-out-time-update {
        color: #000000;
        .validation {
            font-size: 12px;
            margin-top: 4px;
            font-style: italic;
        }
        .block-time-item-edit {
            margin-bottom: 10px;
            .wrap-items {
                border: 1px solid #d1d3e2;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;
                @media only screen and (max-width: 940px) {
                    border-radius: 10px;
                    .item {
                        border-radius: 9px;
                        border: none !important;
                        .title {
                            border-radius: 0 !important;
                        }
                        &:first-child {
                            .title {
                                border-top-left-radius: 10px !important;
                                border-top-right-radius: 10px !important;
                            }
                        }
                        &:last-child {
                            flex: 0 0 100% !important;
                            max-width: 100% !important;
                        }
                    }
                }
                .item {
                    flex: 0 0 32%;
                    max-width: 32%;
                    border-right: 1px solid #d1d3e2;
                    &:last-child {
                        border: none;
                        flex: 0 0 36%;
                        max-width: 36%;
                        .title {
                            border-top-right-radius: 10px;
                        }
                    }
                    .title {
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: bold;
                        background: #F2F2F2;
                    }
                    &:first-child {
                        .title {
                            border-top-left-radius: 10px;
                        }
                    }
                    .content {
                        width: 100%;
                        .row-customize {
                            padding: 0 5px;
                            display: flex;
                            height: 50px;
                            align-items: center;
                            .col-customize {
                                flex: 0 0 50%;
                                max-width: 50%;
                                display: flex;
                                align-items: center;
                                .value {
                                    flex: 1 1;
                                    input {
                                        height: 28px;
                                        font-size: 13px;
                                        color: inherit;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        border-right: none;
                        @media only screen and (max-width: 1200px) {
                            .title {
                                border-top-right-radius: 10px !important;
                            }
                        }
                        @media only screen and (max-width: 940px) {
                            .title {
                                border-top-right-radius: 0px !important;
                            }
                        }
                        @media only screen and (min-width: 1200px) {
                            border-right: 1px solid #d1d3e2;
                        }
                    }
                    @media only screen and (max-width: 1200px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        border-bottom: 1px solid #d1d3e2;
                        &:last-child {
                            flex: 0 0 50%;
                            max-width: 50%;
                            .title {
                                border-top-right-radius: 0;
                            }
                        }
                    }
                    @media only screen and (max-width: 940px) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
            .react-datepicker__time-list {
                .react-datepicker__time-list-item {
                    line-height: 20px;
                }
            }
        }
    }
    .block-filter-shift {
        border: 1px solid #d1d3e2;
        margin: 15px 0;
        font-size: inherit;
        padding-bottom: 15px;
        input, button {
            font-size: inherit;
        }
        legend {
            font-size: 15px;
            margin-bottom: 0;
            display: inline;
            padding: 0 10px;
            width: auto;
        }
        .time-filter {
            display: block;
            position: relative;
            > .react-datepicker-wrapper {
                display: block;
            }
            .input-img {
                position: absolute;
                right: 10px;
                top: 6px;
            }
        }
    }
    .business-type {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 12px;
        margin: 10px 0 5px 0;
        span {
            display: inline-block;
            padding: 2px 0;
            &.smaller {
                width: 46%;
            }
        }
    }
    .shift-table {
        thead th {
            position: sticky;
            top: 0;
            background-color: #4e73df;
        }
    }
    .shift-work {
        .total-time {
            margin-top: 40px;
        }
        .guide-message {
            padding-bottom: 15px;
            border-bottom: 1px solid #d1d3e2;
            margin-bottom: 10px;
        }
        .shift-change-type-field {
            padding: 10px 0;
        }
        .shift {
            border-collapse: separate;
            border-spacing: 0;
            thead {
                display: table;
                width: 100%;
                table-layout: fixed;
                background: #4e73df;
                color: #FFFFFF;
                th {
                    font-weight: normal;
                    text-align: center;
                    vertical-align: middle;
                    padding: 0;
                    border-bottom: none;
                    &.col-shift-code {
                        button {
                            font-size: inherit;
                            background: transparent;
                            border-color: transparent;
                            outline: none;
                            box-shadow: none;
                            border: none;
                            &::after {
                                display: inline-block;
                                vertical-align: 0.2em;
                                color: #FFFFFF;
                                content: "";
                                border-top: 0.4em solid;
                                border-right: 0.4em solid transparent;
                                border-bottom: 0;
                                border-left: 0.4em solid transparent;
                            }
                            .shift-code {
                                margin-right: 5px;
                            }
                            &:active {
                                background: transparent;
                                border: none;
                                box-shadow: none;
                            }
                            &:focus {
                                background: transparent;
                                border: none;
                                box-shadow: none;
                            }
                        }
                        .shift-code-popup {
                            padding: 5px 10px;
                            .input-shift-code {
                                input {
                                    border: none;
                                    font-size: 12px;
                                    &:focus {
                                        border: none;
                                        outline: none;
                                    }
                                    &:active {
                                        border: none;
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }
                    .start-time, .end-time {
                        width: 110px;
                        display: inline-block;
                        .caret-down {
                            &::after {
                                display: inline-block;
                                vertical-align: 0.2em;
                                color: #FFFFFF;
                                content: "";
                                border-top: 0.4em solid;
                                border-right: 0.4em solid transparent;
                                border-bottom: 0;
                                border-left: 0.4em solid transparent;
                            }
                        }
                    }
                }
            }
            tbody {
                display: block;
                max-height: 150px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    background-color: #F5F5F5;
                    width: 8px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #a4afb7;
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                    border-top: 1px solid white;
                    border-bottom: 1px solid white;
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-track {
                    background-color: #d3d3d3;
                    border-left: 3.5px solid white;
                    border-right: 3.5px solid white;
                    border-top: 3.5px solid white;
                    border-bottom: 3.5px solid white;
                }
                tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    td {
                        padding: 6px 10px;
                        text-align: center;
                        border-left: 1px solid #d1d3e2;
                        border-bottom: 1px solid #d1d3e2;
                        &.col-shift-code {
                            border-right: 1px solid #d1d3e2;
                        }
                        input {
                            cursor: pointer;
                        }
                    }
                    &:last-child {
                        td {
                            border-bottom: 1.5px solid #d1d3e2;
                        }
                    }
                }
            }
        }
    }
    
    h5 {
        color: #2a377c;
        text-transform: uppercase;
        font-weight: bold;
    }

    .textarea{
        box-sizing: border-box;
        border-radius: 3px;
        resize: none;
        font-size: inherit;
        overflow: auto;
        height: auto;
        padding: 6px;
        width: 100%;
        min-height: 40px;
        &:disabled{
            border: 1px solid #ddd;
            background-color: #eee;
        }
    }
    .mv-10{
        margin-top: 10px;
    }
    // [class$="-container"] {
    //     margin: 10px 0;
    // }
    .react-datepicker-wrapper{
        [class$="-container"] {
            // margin: 10px 0 0 0 ;
            margin: 0;
        }
    }
    .document{
        padding: 12px !important;
        span{
            color: #FF0000;
            font-weight: bold;
        }
        label{
            color: #000000;
            font-weight: bold;
            margin: 0;
            margin-right: 5px;
        }
    }
    .buttn-addmore{
        margin-top: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        img{
            margin-right: 9px;
        }
    }
    .task{
        .box {
            border-radius: 10px;
            padding: 0px;
            background-color: #fff;
            margin: 0px 0;
            border: 1px solid #707070;
            border-radius: 12px;
        }
        .rating-empty{
            display: inline-block;
            border-radius: 50%;
            border: 3px solid white;
            width: 21px;
            height: 21px;
            background-color: #cccccc;
        }
        .rating-full{
            display: inline-block;
            border-radius: 50%;
            border: 3px solid white;
            width: 21px;
            height: 21px;
            background-color: #FF6D6D;
        }

        table {
            width: 100%;
            //border: 1px solid #707070;
            font-size: 16px;
            thead{
              //background-color: #347EF9;
              &:first-child{
                tr{

                  &:first-child{
                      th{
                        border-top: none;
                        background-color: rgba(40, 50, 128, 0.05);
                        &:first-child{
                            border-radius: 12px 0 0 0;
                        }
                        &:last-child{
                            border-radius: 0px 12px 0 0;
                        }
                      }
                  }
            }

              }
              &:last-child{
                &:last-child{
                    th{
                    border-top: 1px solid #707070;
                      border-bottom: none;

                    }
                }
              }
            }
            tbody{
                .action-group{
                    display: flex;
                    justify-content: center;
                    img:first-child{
                        margin-right: 10px;
                    }
                }
                tr{
                    &:last-child{
                        td{
                          border-bottom: none;
                        }
                    }
                }
            }
            tr {
              td {
                border: 1px solid #707070;
                padding: 7px 7px;
                text-align: center;
                color: #000000;

                input{
                    width: 100%;
                    margin: 6px 0px;
                }
               &:first-child{
                   border-left: none;
               }
               &:last-child{
                   border-right: none;
               }
              }
              .name{
                text-align: left !important;
              }
              th{
                border: 1px solid #707070;
                padding: 7px;
                text-align: center;
                color: #000000;
                &:first-child{
                    border-left: none;
                }
                &:last-child{
                    border-right: none;
                }
              }
            }
            p {
              margin: 0;
              padding: 0;
            }
          }
    }
    .heading{
        display: flex;
        justify-content: center;
        color: #FF0000;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .eval-heading{
        display: flex;
        justify-content: center;
        color: #FF0000;
        font-size: 20px;
        font-weight: bold;
    }
    .sub-heading{
        display: flex;
        justify-content: center;
        color: #FF0000;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .box {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        margin: 15px 0;

        &.more-description{
            padding-top: 0px;
            .title{
                padding: 10px 20px;
                margin: 0px -20px 20px;
                border-radius: 10px 10px 0 0 ;
                background-color: rgba(40, 50, 128, 0.1);
                color: #000000;
                font-weight: bold;
            }
        }
        p {
            margin: 10px 0;
        }
        .description{
            .title{
                color: #000000;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
            span{
                color: #FF0000;
                margin-right: 25px;
            }
        }
        .approve{
            .title{
                color: #283280;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 5px;
            }
            .sub-title{
                color: #283280;
                font-size: 16px;
            }
        }
        .box-time {
            border: 1px solid #aaa;
            border-radius: 10px;
            padding: 0px 10px;
            height: 100%;
            .row {
                line-height: 40px;
            }
        }

        .close {
            opacity: 1;
        }
    }

    .input-container {
        position:relative;
        label, .react-datepicker-wrapper {
            width: 100%;
        }
        .input {
            margin:0;
            padding-right: 10px;
            width: 100%;
        }
        .input-img {
            position: absolute;
            top: 8px;
            right: 2px;
            width: 24px;
            height: 24px;
        }
        .input-clock {
            position: absolute;
            bottom: 15px;
            right: 0;
            width: 24px;
            height: 24px;
        }
        label {
            margin-bottom: 0;
        }
        i {
            font-size: 20px;
            font-weight: 100;
        }
    }

    .nav {
        a {
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        }
    }

    .file-name {
        padding: 10px;
        border: 1px solid #DDDDDD;
        background-color: #FFFFFF;
        border-radius: 5px;
        color: #858796;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        & > a {
            color: #858796;
        }
        .remove {
            margin-left: 10px;
            cursor: pointer;
        }

        .remove:hover {
            opacity: 0.6;
        }
    }

    .list-inline-item {
        margin: 15px 15px 15px 0;
    }
    .display-right {
        .list-inline-item {
            margin: 15px 0 15px 15px;
        }
    }

    .detail {
        margin: 10px 0;
        border: 1px solid #ddd;
        background-color: #eee;
        padding: 7px;
        border-radius: 5px;
        width: 100%;
        min-height: 40px;
    }
    .leave-of-absence {
        .summary {
            .item {
                border: 1px solid #ddd;
                background-color: #fff;
                height: 100%;
                border-radius: 10px;
                padding: 10px;
                text-align: center;
                box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
            }
        }
        .leave-type {
            label {
                font-size: inherit;
            }
        }
        .form {
            input {
                font-size: inherit;
            }
        }
        &.shift-change-section {
            .date-info-edit {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .business-trip {
        .leave-type {
            label {
                font-size: inherit;
            }
        }
        .form {
            input {
                font-size: inherit;
            }
        }
    }
    .in-out-time-update, .shift-work {
        input, button {
            font-size: inherit;
        }
        .shift-change-type {
            font-size: inherit;
        }
        .edit {
            cursor: pointer;
            font-weight: 600;
            color: #ff7f00;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img {
                height: 15px;
                width: 15px;
                object-fit: cover;
                margin-right: 5px;
            }
            i {
                font-size: 15px;
                margin-right: 5px;
            }
        }
        span {
            margin-left: 5px;
        }
        .shift-change-type-field {
            .required {
                margin-left: 5px;
            }
        }
        .react-datepicker-popper {
            z-index: 2;
        }
    }
    .approver {
        .avatar {
            height: 50px;
            width: 50px;
            border: 0;
            border-radius: 50%;
        }
        .comment {
            font-size: small;
            font-style: italic;
        }

        .title, .comment {
            margin: 0 5px;
            padding: 0;
        }

        .title2{
            margin: 0 0 10px 0;
            padding: 0;
        }
    }
    .nav-item {
        width: 20%;
        text-align: center;
    }
    .btn-add-multiple-in-out{
        background-color: #44A257;
        border: none;
        position: absolute;
        top: -1px;
        right: 40px;
        border-radius: 0 0.35rem;
        font-size: 13px;
        color: white;
        i {
            font-size: 11px;
            margin-right: 2px;
        }
    }
    .btn-top-right-corner{
        position: absolute;
        font-size: 0.8125rem;
        border-radius: 0 0.35rem;
        top: 0;
        right: 0;
    }
    .btn-add-multiple{
        background-color: #347EF9;
        border: none;
        position: absolute;
        top: -1px;
        right: 0;
        border-radius: 0 0.35rem;
        font-size: 13px;
        color: white;
        i {
            font-size: 11px;
            margin-right: 2px;
        }
    }
    .time-area {
        position: relative;
        border: 1px solid #d1d3e2;
        border-radius: 0.35rem;
        margin-top: 10px;
        
    }

    .check-box {
        top: 494px;
        left: 460px;
        width: 20px;
        height: 20px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #707070;
        border-radius: 3px;
        opacity: 1;
    }

    .all-day-area {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        border-bottom: 1px solid #d1d3e2
    }

    .group {
        overflow: hidden;
    }
    .auto-height {
        padding-bottom: 99999px; 
        margin-bottom: -99999px;
    }
    @media (max-width: 1200px){
        .auto-height { 
            padding-bottom: 0px;
             margin-bottom: 0px;
        }
    }

    .box-bottom{
        border-bottom: 1px solid #b8b8b8;
        margin: 0px;
        padding: 0px 0px 10px 0px;

        .black-color{
            color: #000;
        }
    }

    .box-bottom-mg{
        border-bottom: 1px solid #b8b8b8;
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 10px 0px;

        .black-color{
            color: #000;
        }
    }

    .message-danger{
        margin-top: 38px !important; 
        margin-bottom: 0px !important;
    }
    .bottom {
        button {
            font-size: 14px;
        }
    }
    .btn-save{
        background-color: #05BD29;
    }
}

.handover-section {
    color: #000000;
    .sub-title{
        color: #000000;
        font-weight: bold;
        font-size: 16px;
        margin: 40px 16px 16px 16px;
    }

    .hidden{
        display: none !important;
    }
    .task{
        input{
            min-height: 40px;
        }
    }
    .block-time-item-edit {
        .box-time, input {
            font-size: 15px;
        }
    }
    .block-note-item-edit, textarea {
        font-size: 15px;
    }

    h5 {
        color: #2a377c;
        text-transform: uppercase;
        font-weight: bold;
    }

    .textarea{
        box-sizing: border-box;
        border-radius: 3px;
        resize: none;
        font-size: inherit;
        overflow: auto;
        height: auto;
        padding: 6px;
        width: 100%;
        min-height: 40px;
        &:disabled{
            border: 1px solid #ddd;
            background-color: #eee;
        }
        &::placeholder{
            color: #BBBBBB;
        }
    }

    .mv-10{
        margin-top: 10px;
    }
    [class$="-container"] {
        margin: 10px 0;
    }
    .react-datepicker-wrapper{
        [class$="-container"] {
            margin: 10px 0 0 0 ;
        }
    }


    .eval-heading{
        display: flex;
        justify-content: center;
        color: #FF0000;
        font-size: 20px;
        font-weight: bold;
    }
    .box {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        margin: 15px 0;

        &.more-description{
            padding-top: 0px;
            .title{
                padding: 10px 20px 10px 16px;
                margin: 0px -20px 0px;
                border-radius: 10px 10px 0 0 ;
                background-color: rgba(40, 50, 128, 0.1);
                color: #000000;
                font-weight: bold;
            }
        }
        p {
            margin: 10px 0;
        }
        .description{
            .title{
                color: #000000;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
            span{
                color: #FF0000;
                margin-right: 25px;
            }
        }
        .approve{
            .title-name{
                color: #283280;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 5px;
            }
            .sub-title{
                color: #283280;
                font-size: 16px;
            }
        }
        .box-time {
            border: 1px solid #aaa;
            border-radius: 10px;
            padding: 0px 10px;
            height: 100%;
            .row {
                line-height: 40px;
            }
        }

        .close {
            opacity: 1;
        }
    }

    .input-container {
        position:relative;

        label, .react-datepicker-wrapper {
            width: 100%;
        }

        .input {
            margin:0;
            padding-right: 10px;
            width: 100%;
        }
        .input-img {
            position: absolute;
            bottom: 5px;
            right: 0;
            width: 24px;
            height: 24px;
        }

        .input-clock {
            position: absolute;
            bottom: 15px;
            right: 0;
            width: 24px;
            height: 24px;
        }

        label {
            margin-bottom: 0;
        }
        i {
            font-size: 20px;
            font-weight: 100;
        }
    }
    .detail {
        margin: 10px 0;
        border: 1px solid #ddd;
        background-color: #eee;
        padding: 7px;
        border-radius: 5px;
        width: 100%;
        min-height: 40px;
    }

    .leave-of-absence {
        .summary {
            .item {
                border: 1px solid #ddd;
                background-color: #fff;
                height: 100%;
                border-radius: 10px;
                padding: 10px;
                text-align: center;
                box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
            }
        }
    }

    .approver {
        .avatar {
            height: 50px;
            width: 50px;
            border: 0;
            border-radius: 50%;
        }
        .comment {
            font-size: small;
            font-style: italic;
        }

        .title, .comment {
            margin: 0 5px;
            padding: 0;
        }
    }
    .nav-item {
        width: 20%;
        text-align: center;
    }

    .group {
        overflow: hidden;
    }
    .auto-height {
        padding-bottom: 99999px;
        margin-bottom: -99999px;
    }
    @media (max-width: 1200px){
        .auto-height {
            padding-bottom: 0px;
             margin-bottom: 0px;
        }
    }
    .btn-save{
        background-color: #05BD29;
    }
}