.registration-section {
    h5 {
        color: #2a377c;
        text-transform: uppercase;
        font-weight: bold;
    }
    .box {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        margin: 15px 0;

        p {
            margin: 10px 0;
        }

        .box-time {
            border: 1px solid #aaa;
            border-radius: 10px;
            padding: 20px 10px;
            margin: 10px 0;

            .row {
                line-height: 40px;
            }
        }

        .close {
            opacity: 1;
        }
    }

    .input-container {
        position:relative;

        label, .react-datepicker-wrapper {
            width: 100%;
        }

        .input {
            margin:0;
            padding-right: 50px;
            width: 100%;
        }
        .input-img {
            position: absolute;
            bottom: 5px;
            right: 0;
            width: 24px;
            height: 24px;
        }

        .input-clock {
            position: absolute;
            bottom: 15px;
            right: 0;
            width: 24px;
            height: 24px;
        }

        label {
            margin-bottom: 0;
        }
        i {
            font-size: 20px;
            font-weight: 100;
        }
    }

    .nav {
        a {
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        }
    }

    .file-name {
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #fff;
        border-radius: 5px;

        .remove {
            margin-left: 10px;
            cursor: pointer;
        }

        .remove:hover {
            opacity: 0.6;
        }
    }

    .list-inline-item {
        margin: 15px 15px 15px 0;
    }

    .detail {
        margin: 10px 0;
        border: 1px solid #ddd;
        background-color: #eee;
        padding: 7px;
        border-radius: 5px;
        width: 100%;
        min-height: 40px;
    }

    .leave-of-absence {
        .summary {
            .item {
                border: 1px solid #ddd;
                background-color: #fff;
                border-radius: 10px;
                padding: 10px;
                text-align: center;
                box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
            }
        }
    }

    .in-out-time-update {
        .edit {
            cursor: pointer;
            font-weight: 600;
        }
        
    }
}
