.target-management-page {
  padding: 1em 0px;
  color: #000;
  .menu-btns {
    margin-bottom: 20px;
    .button {
      color: #000;
      height: 40px;
      width: 180px;
      border-radius: 4px;
      background-color: #fff;
      font-size: 14px;
      margin-right: 20px;
      border: 1px solid #dee2e6;
    }
    .primary-button {
      background-color: #347ef9;
      color: #fff;
    }
  }
  .filter-container {
    margin-bottom: 36px;
    .button {
      height: 40px;
      width: 230px;
      background: #fff;
      font-size: 14px;
    }
    .add-button {
      color: #44a257;
      border: 1px solid #44a257;
      margin-right: 20px;
    }
    .search-button {
      background: #ffba00;
      color: #fff;
    }
    .select-container {
      display: inline-block;
      height: 40px;
      width: 230px;
      border-radius: 4px;
      font-size: 14px;
      margin-right: 20px;
      border: 1px solid #ced4da;
    }
    .filter-select__control {
      border: none;
    }
    .filter-select__indicator-separator {
      width: 0px;
    }
    // .filter-select__option {
    //   color:#000
    // }
    .icon-filter {
      margin-right: 8px;
    }
  }
  .table-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .table-container {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
  }
  .table {
    color: #000;
    thead {
      font-weight: 700;
    }
    tr {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      border-bottom: 1px solid #dee2e6;
    }
  }
  .table-footer {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
  }
  .menu-registration-container {
    display: inline;
    position: relative;
    .menu-registration {
      top: 40px;
      position: absolute;
      width: 230px;
      border-radius: 4px;
      box-shadow: 0px 0px 4px 0px #00000040;
      z-index: 10000;
    }
    .menu-registration-option {
      padding: 8px 12px;
      background: #fff;
      cursor: pointer;
      font-size: 14px;
    }
    .menu-registration-option:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .menu-registration-option:second-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .menu-registration-option:hover {
      background: #f2f2f2;
    }
  }
  .status-tag {
    height: 25px;
    width: 120px;
    border-radius: 29px;
    border: 1px solid #dee2e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: #fff;
    display: inline-flex;
    position: relative;
  }
  .tooltip {
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #00000040;
    padding: 12px;
    background: #fff;
    z-index: 1000;
    opacity: 1 !important;
    .tooltip-content {
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
    }
    .tooltip-header {
      padding-bottom: 12px;
      border-bottom: 1px solid #ced4da;
      margin-bottom: 12px;
      font-weight: 700;
    }
    .tooltip-body {
      min-width: 235px;
      max-width: 600px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
  .action-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.target-registration-modal {
  font: normal 14px Helvetica, Arial, sans-serif;
  color: #000;
  .modal-dialog {
    width: 800px;
    max-width: none !important;
  }
  .modal-content {
    border-radius: 4px;
    .modal-header {
      padding: 20px;
      padding-bottom: 0px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: left;
      .close {
        width: auto;
        height: auto;
        font-size: 22px;
        color: #707070;
        font-weight: normal;
        border: none;
        right: 15px;
        border-radius: 0;
        margin: 0;
        span {
          top: 16px;
          left: 6px;
        }
      }
      .modal-title {
        border-bottom: 1px solid #ced4da;
        width: 100%;
        padding-bottom: 20px;
      }
    }

    .modal-body {
      padding: 16px 20px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
      .red-color {
        color: #ff0000;
      }
      .green-color {
        color: #44a257;
      }
      .yellow-color {
        font-weight: 400;
        margin-top: 8px;
        color: #ffa200;
      }
      .select-container {
        height: 40px;
        width: 100%;
        border-radius: 4px;
        font-size: 14px;
        margin-top: 16px;
      }
      .filter-select__indicator-separator {
        width: 0px;
      }
      .filter-select__control--is-disabled {
        background: #f2f2f2;
      }
      .filter-select__single-value--is-disabled {
        color: #000;
      }
      button {
        margin-right: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        background: #fff;
        border-radius: 4px;
        width: 110px;
        height: 36px;
      }
      .delete-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #c74141;
        color: #c74141;
        height: 24px;
        width: 60px;
        border-radius: 4px;
        position: absolute;
        top: -6px;
        right: 0;
        margin-right: 0px;
        font-size: 13px;
      }
      .collapse-btn {
        color: #4099ff;
        border: 1px solid #4099ff;
      }
      .expand-btn {
        color: #44a257;
        border: 1px solid #44a257;
      }
      .add-target-btn {
        width: 120px;
        color: #44a257;
        border: 1px solid #44a257;
      }
      .form-container {
        border-radius: 4px;
        border: 1px solid #ced4da;
        padding: 16px 20px;
      }
      .target-collapse {
        position: relative;
        font-weight: 700;
        line-height: 17px;
        padding-right: 64px;
        cursor: pointer;
        .fw-400 {
          font-weight: 400;
        }
      }
      .approver-title {
        font-weight: 700;
        line-height: 17px;
        padding-bottom: 16px;
        border-bottom: 1px solid #ced4da;
      }
      .read-only-text {
        padding: 6px 12px;
        background: #f2f2f2;
        font-size: 14px;
        font-weight: 300;
        white-space: pre-line;
        border-radius: 4px;
        border: 1px solid #ced4da;
        min-height: 80px;
      }
      .collapse-container {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid #ced4da;
      }
      .form-textarea {
        font-size: 14px;
        color: #000;
        height: 80px;
      }
      .form-textarea:disabled,
      .form-textarea[readonly],
      .form-input:disabled,
      .form-input[readonly] {
        background: #f2f2f2;
      }
      .form-input {
        height: 40px;
        color: #000;
        border: 1px solid #ced4da;
        font-size: 14px;
      }
      .form-input:focus {
        border: none;
        box-shadow: none;
      }
      .border-none {
        border: none;
      }
      .weight-input-box {
        width: 100%;
        display: flex;
        align-items: center;
        background: #fff;
        // border: 1px solid #a0a0a0;
        border: 1px solid #dee2e6;
        border-radius: 4px;
        overflow: hidden;
        height: 40px;
        .prefix {
          font-weight: 300;
          font-size: 14px;
          color: #000;
          background: #e2e2e2;
          padding: 15px;
        }
      }
    }
    .mb-20 {
      margin-bottom: 20px;
    }
    .mb-15 {
      margin-bottom: 15px;
    }
    .mt-20 {
      margin-top: 20px;
    }
    .custom-modal-footer {
      background: #fff;
      padding: 16px 0px;
      padding-bottom: 0px;
      position: sticky;
      bottom: 0px;
      .modal-footer-action {
        display: flex;
        justify-content: space-between;
      }
      .total-weight-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        width: 200px;
        height: 36px;
        font-weight: 700;
        span {
          font-weight: 400;
        }
      }
      .button {
        height: 36px;
        width: 120px;
        font-size: 14px;
        font-weight: 400;
        border-radius: 3px;
        color: #fff;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      button,
      input[type="button"] {
        outline: none;
      }
      .cancel-btn {
        background: #ced4da;
        margin-right: 20px;
      }
      .cancel-approver-btn {
        width: 90px;
        background: #ced4da;
        margin-right: 20px;
      }
      .save-btn {
        background: #ffae46;
        margin-right: 20px;
      }
      .save-approver-btn {
        width: 90px;
        background: #ffae46;
        margin-right: 20px;
      }
      .reject-btn {
        background: #ff0000;
      }
      .approve-btn {
        background: #05bd29;
        margin-right: 0px;
      }
      .edit-btn {
        height: 36px;
        width: 90px;
        color: #ffae46;
        border: 1px solid #ffae46;
      }
      .send-request-btn {
        background: #4099ff;
        margin-right: 0px;
      }
      .button:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
    .approver {
      .avatar {
        height: 36px;
        width: 36px;
        border: 0;
        border-radius: 50%;
      }
      .comment {
        font-size: small;
        font-style: italic;
      }

      .title,
      .comment {
        margin: 0 5px;
        padding: 0;
      }
    }
    .icon-collapse {
      path {
        fill: #4099ff;
      }
    }
    .icon-expand {
      path {
        fill: #44a257;
      }
    }
  }
  .review-comment-textarea[readonly] {
    height: 40px !important;
  }
}

.reject-target-modal {
  .red-color {
    color: #ff0000;
  }
  .modal-content {
    .modal-body {
      .content {
        padding: 0px !important;
        margin-bottom: 20px;
      }
      padding: 16px 20px 20px 20px !important;
      border-radius: 0px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
  .form-textarea {
    margin-top: 12px;
    height: 80px;
    border-radius: 4px;
    font-size: 14px;
    color: #000;
    height: 80px;
  }
  .reject-approve-btn:disabled {
    cursor: not-allowed !important;
  }
}

.zi-1040 {
  z-index: 1040 !important;
}

.target-register-table {
  .table-responsive {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a4afb7;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: #d3d3d3;
      border-top: 3.5px solid #ffffff;
      border-bottom: 3.5px solid #ffffff;
    }
  }
  .sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    right: 0;
    z-index: 100;
    span {
      margin-right: 10px;
    }
  }
  .target-register-thead {
    tr {
      th {
        vertical-align: top;
      }
      th:nth-child(1) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
      }
      th:nth-child(2) {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
      }
      th:nth-child(3) {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
      }
      th:nth-child(4) {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
      }
      th:nth-child(5) {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
      }
      th:nth-child(6) {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
      }
      th:nth-child(7) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
      }
      th:nth-child(8) {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
      }
      th:nth-child(9) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
      }
      th:nth-child(10) {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
      }
    }
  }
  .target-register-tbody {
    overflow-x: auto;

    tr {
      cursor: pointer;
      td {
        vertical-align: middle;
      }
      // min-width: 500px;
      // max-width: 500px;
      // td:nth-child(1) {
      //   width: 300px;
      // }
      // td:nth-child(2) {
      //   width: 300px;
      // }
      // td:nth-child(3) {
      //   width: 300px;
      // }
      // td:nth-child(4) {
      //   width: 300px;
      // }
      // td:nth-child(5) {
      //   width: 300px;
      // }
      // td:nth-child(6) {
      //   width: 300px;
      // }
      // td:nth-child(7) {
      //   width: 300px;
      // }
      // td:nth-child(8) {
      //   width: 300px;
      // }
      // td:nth-child(9) {
      //   width: 300px;
      // }
      // td:nth-child(10) {
      //   width: 300px;
      // }
    }
    tr:hover {
      background: #e9edf0;
      .sticky-col {
        background: #e9edf0;
      }
    }
  }
}

.avatar {
  height: 36px;
  width: 36px;
  border: 0;
  border-radius: 50%;
}
.comment {
  font-size: small;
  font-style: italic;
}

.title,
.comment {
  margin: 0 5px;
  padding: 0;
}
