.task-section {
    .title {
        color: #2a377c;
        font-weight: bold;
    }

    .task-list {
        border-radius: 5px;

        .table {
            width: 100%;
            margin-bottom: 1rem;
            color: #858796;
            border-radius: 5px;
            
            thead {
                color: #347EF9;
                background-color: #eaecf4;

                th {
                    vertical-align: middle;
                    
                }

                th:first-child {
                    border-top-left-radius: 5px;
                }

                th:last-child {
                    text-align: center;
                    border-top-right-radius: 5px;
                }

                .tool {
                    width: 150px;
                }

                .request-date, .approval-date {
                    width: 120px;
                }

                .code {
                    width: 120px;
                }
            }

            td:last-child {
                text-align: center;
            }

            .status {
                [class$="-control"] {
                    border-radius: 30px;
                  }
                  [class$="-singleValue"] {
                    top: 45%;
                    color: #aaa;
                  }
                  [class$="-placeholder"] {
                    top: 44%;
                  }
                  [class$="-indicatorContainer"] {
                    padding: 4px;
                  }
            }

            .request-status {
                display: inline-block;
                padding: 2px;
                width: 160px;
                text-align: center;
                border-radius: 20px;
                border: 1px solid;
                &.success {
                  border-color: #05BD29;
                  color: #05BD29;
                }
                &.fail {
                  border-color: #FF0000;
                  color: #FF0000;
                }
              }
        }

        img {
            height: 25px;
            margin: 0 5px;
        }

        img:hover {
            opacity: 0.5;
            cursor: pointer;
        }

        .disabled
        {
            cursor: none;
            opacity:0.2;
        }
    }
}