.bs-popover-right .arrow::after {
  border-left-color: #6cb5f9 !important;
  border-right-color: #6cb5f9 !important;
}
.timesheet-section {
  margin-bottom: 30px;
  font-size: 14px;
  .btn-block {
    font-size: 14px;
    margin-top: 1.5rem;
    button {
      font-size: inherit;
      background: #FFFFFF;
      i {
        margin-right: 8px;
      }
      &:hover {
        color: #1cc88a;
      }
    }
  }
  #result-table {
    td, th {
      border: .5px solid blue;
    }
  }
  .summary {
    .card-header {
      color: #000000;
      text-align: center;
    }
  }
  .timesheet-box {
    display: block;
    background-color: #fff;
    width: 100%;
    padding: 30px 10px;
    margin: 20px 0px;
    border-radius: 10px;
    .title {
      display: block;
      margin-bottom: 10px;
    }
    .content {
      display: block;
    }
    .input-container {
      position: relative;
      cursor: pointer;
      label {
        position: relative;
        cursor: pointer;
      }
      .input {
        margin: 0;
        padding-right: 20px;
        width: 300px;
        font-size: inherit;
        cursor: pointer;
      }
      .input-img {
        position: absolute;
        top: 10px;
        left: 272px;
      }
      i {
        font-size: 20px;
        font-weight: 100;
      }
      input {
        font-size: 14px;
      }
    }
    .btn-search {
      width: 100%;
      font-size: inherit;
    }
    .box-input {
      i {
        font-size: 14px !important;
      }
    }
    .member-list {
      position: absolute;
      z-index: 999999;
      top: 72px;
      width: 360px;
      height: auto;
      background: #FFFFFF;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
      .action {
        padding: 10px 0 !important;
        justify-content: space-evenly !important;
        background: #F2F2F2;
        button {
          width: 80px;
          font-size: 13px;
        }
      }
      .input-search {
        margin-top: 0 !important;
        input {
          font-size: 14px;
        }
      }
      .show-list {
        height: auto !important;
        max-height: 300px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          height: 8px;
          width: 8px;
          background-color: #f5f5f5;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #a4afb7;
          border-left: 1px solid white;
          border-right: 1px solid white;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-track {
          background-color: #d3d3d3;
          border-left: 3.5px solid white;
          border-right: 3.5px solid white;
          border-top: 3.5px solid white;
          border-bottom: 3.5px solid white;
        }
        .option-item {
          // &:last-child {
          //   .border-bottom {
          //     border-bottom: none !important;
          //   }
          // }
          .full-name {
            font-size: 14px;
          }
          .account-job {
            font-style: italic;
          }
        }
        .lable-custom {
          margin-bottom: 0;
        }
        .label-select-all {
          font-size: 14px;
        }
      }
    }
    .loading-employees {
      padding: 5px;
      margin-top: 5px;
      border: 1px solid #d1d3e2;
      .spinner-border {
        width: 15px;
        height: 15px;
      }
    }
    .react-datepicker-popper {
      z-index: 99;
    }
  }
  .searchTitle {
    color: #2a377c;
    font-weight: bold;
  }
  .summary {
    margin-top: 30px;
    .notice {
      margin-top: 12px;
      font-size: 13px;
      font-style: italic;
      text-align: center;
    }
  }
  .detail-timesheet {
    margin-top: 1.5rem;
    .btn-link {
      text-decoration: none;
      color: #858796;
      font-weight: 550;
      padding: 10px 0;
    }
    .content {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .content {
        .item {
          p {
            margin-bottom: 0.5rem;
            &.data {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .time-item {
      display: flex;
      flex-wrap: wrap;
      padding-top: 10px;
      padding-right: 3px;
      padding-left: 3px;
    }
    .report-employees-updating {
      display: flex;
      align-items: center;
      font-size: 15px;
      color: #000000;
      .message {
        margin: 0 auto;
        .total-employees-updating {
          font-weight: bold;
        }
      }
      .detail {
        color: #FF0000;
        cursor: pointer;
        i {
          margin-left: 5px;
        }
      }
    }
  }
  .color-red {
    color: red !important;
  }
  .background-red {
    background-color: #f8d7da;
  }
  .card {
    width: 100% !important;
  }
  .employee-time-sheets {
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
    .fixed-col {
      position: sticky;
    }
    .title {
      font-size: 13px;
    }
    .date {
      font-size: 13px;
      font-weight: normal;
    }
    td {
      text-align: center;
      border: 0.5px solid #707070;
      border-right: none;
      text-transform: capitalize;
      color: #000000;
      font-size: 14px;
      min-width: 150px;
      padding: 0;
      &.updating {
        background: #2e59d9;
        color: #FFFFFF;
      }
      &.updatable:hover {
        background: #2e59d9;
        color: #FFFFFF;
      }
    }
    thead {
      td {
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 0;
        background: #FFFFFF;
        &.full-name {
          text-align: left;
          padding-left: 5px;
          background: #FFFFFF;
          border: 0.5px solid #707070;
          border-right: none;
          position: sticky;
          left: 0;
          z-index: 1;
          span {
            display: inline-block;
            width: 160px;
          }
        }
        &.room-part-group {
          left: 165.8px;
          background: #FFFFFF;
          border: 0.5px solid #707070;
          position: sticky;
          left: 166px;
          z-index: 1;
          span {
            display: inline-block;
            width: 200px;
          }
        }
        &:nth-child(3) {
          border-left: none;
        }
        &:last-child {
          border-right: 1px solid #707070;
        }
      }
    }
    tbody {
      tr {
        td {
          font-weight: bold;
          font-size: 12px;
          &.full-name {
            text-align: left;
            padding-left: 5px;
            left: 0;
            background: #FFFFFF;
            border: 0.5px solid #707070;
            border-right: none;
            font-weight: normal;
            span {
              display: inline-block;
              width: 160px;
              &.updating {
                color: #00b3ff;
              }
            }
          }
          &.room-part-group {
            text-align: left;
            padding-left: 5px;
            left: 165.8px;
            background: #FFFFFF;
            border: 0.5px solid #707070;
            font-weight: normal;
            span {
              display: inline-block;
              width: 200px;
            }
          }
        }
        &.line1 {
          td {
            &:nth-child(3) {
              border-left: none;
            }
            &:last-child {
              border-right: 1px solid #707070;
            }
          }
        }
        &.line2 {
          td {
            padding: 5px 0;
            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: 1px solid #707070;
            }
          }
        }
        &.line3 {
          td {
            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: 1px solid #707070;
            }
          }
        }
        &.line4 {
          td {
            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: 1px solid #707070;
            }
          }
        }
      }
    }
    .ke_hoach {
      padding: 4px 0;
      background-color: #00b3ff;
      color: #ffffff;
      border-bottom: none;
      white-space: nowrap;
      text-align: center;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .ke_hoach_dai {
      padding: 4px 0;
      background-color: #00b3ff;
      color: #ffffff;
      border-bottom: none;
      text-align: center;
    }
    .thuc_te {
      padding: 4px 0;
      background-color: #FFFFFF;
      color: #000000;
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
      white-space: nowrap;
      text-align: center;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .loi_cong {
      padding: 4px 0;
      background-color: #e44235;
      color: #ffffff;
      border-top: none;
      border-bottom: none;
      white-space: nowrap;
      text-align: center;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .no-event {
      padding: 4px 0;
      color: #ffffff;
      border-top: none;
      border-bottom: none;
      white-space: nowrap;
      text-align: center;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .gio_nghi {
      padding: 4px 0;
      background-color: #f7931e;
      color: #ffffff;
      border-top: none;
      border-bottom: none;
      white-space: nowrap;
      text-align: center;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .cong_tac {
      padding: 4px 0;
      background-color: #93278f;
      color: #ffffff;
      border-top: none;
      border-bottom: none;
      white-space: nowrap;
      text-align: center;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .ot {
      padding: 4px 0;
      background-color: #808000;
      color: #ffffff;
      border-top: none;
      white-space: nowrap;
      text-align: center;
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .divide {
      border: none;
      height: 10px;
    }
  }
  .describer {
    .title {
      font-size: 14px;
    }
  }
  .table-responsive {
    // font-size: 15px;
    max-height: 500px;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 8px;
      width: 8px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a4afb7;
      border-left: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background-color: #d3d3d3;
      border-left: 3.5px solid #FFFFFF;
      border-right: 3.5px solid #FFFFFF;
      border-top: 3.5px solid #FFFFFF;
      border-bottom: 3.5px solid #FFFFFF;
    }
  }
  .action-buttons-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    padding: 20px 0;
    button {
      font-size: inherit;
      font-weight: normal;
      width: 100px;
      &.btn-submit {
        margin-left: 20px;
      }
    }
  }
  &.personal-timesheet {
    .summary {
      margin: 15px 0;
      .card {
        padding: 15px;
        .card-header {
          padding: 0 0 15px 0;
          font-weight: bold;
          color: #383838;
        }
        .card-body {
          padding: 1.25rem 0 0 0;
          .title {
            font-size: 13px;
          }
        }
        .card-header {
          border-bottom-color: #dddddd;
        }
      }
    }
    .detail {
      .card {
        .card-header {
          &.card-header-text {
            color: #383838;
            font-weight: bold;
          }
        }
      }
      .item-tooltip {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        background: #FFFFFF;
        padding: 0 15px;
        & > ul {
          list-style: none;
          padding: 0;
          margin: 0;
          .action-item {
            cursor: pointer;
            text-align: left;
            padding: 5px 0;
            border-bottom: 1px solid #CCCCCC;
            a {
              color: #383838;
              text-decoration: none;
              &:hover {
                color: #000000;
              }
            }
            &:last-child {
              border: none;
            }
          }
        }
      }
    }
  }
}
