.vingroup-cultural-page {
  .btn-link:hover {
    text-decoration: none;
  }
  .content-page-body {
    background: #fff;
    box-shadow: 0px 0px 4px 0px #00000040;
    border-radius: 4px;
    padding: 24px 16px;
    .content-item {
      margin-bottom: 24px;
      padding: 24px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      font-size: 14px;
      .title-container {
        display: flex;
        align-items: center;
      }
    }
    .content-item:last-child {
      margin-bottom: 0px;
    }
    .btn-group {
      .btn-item {
        width: 100px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #dee2e6;
        background: #fff;
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
    }
  }
  .gallery-container {
    // text-align: center;
    iframe {
      margin-top: 16px;
      margin-right: 16px;
    }
    .poster-img {
      width: auto;
      height: auto;
      max-width: calc(100vw - 320px);
      margin-bottom: 12px;
      display: block;
    }
    .image-gallery {
      // line-height: 0;
      // -webkit-column-count: 3;
      // -webkit-column-gap: 5px;
      // -moz-column-count: 3;
      // -moz-column-gap: 5px;
      // column-count: 3;
      // column-gap: 5px;
      // text-align: center;
      .image {
        cursor: zoom-in;
      }
      .zoomed-in-img {
        width: auto;
        height: auto;
        max-width: calc(100vw - 320px);
        // max-height: 1000px;
        cursor: zoom-out;
      } 
    }
  }
  .back-block {
    cursor: pointer;
    margin-bottom: 0;
  }
  .pdf-file-title {
    padding: 16px;
    border-bottom: 1px solid rgb(243, 242, 241);
    background: #fff;
    cursor: pointer;
  }
}
