.modal-consent {
    .icon-delete {
      cursor: pointer;
    }
    &__title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #0d1b3c;
    }
    &__header {
      background: #fff !important;
      padding: 15px 20px 0 20px !important;
    }
    &__textarea {
      width: 100%;
      border: 1px solid #dee2e6;
      border-radius: 4px;
      padding: 10px;
    }
    &__textlabel {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000;
      margin-bottom: 12px;
    }
    &__body {
      padding: 0 20px 20px 20px !important;
      border-bottom-left-radius: 0.6rem !important;
      border-bottom-right-radius: 0.6rem !important;
      .content {
        border-top: 1px solid #ced4da;
        padding-top: 15px;
      }
    }
  }