@font-face {
  font-family: "icomoon";
  src: url("./assets/fonts/icomoon.eot?kpoxqk");
  src: url("./assets/fonts/icomoon.eot?kpoxqk#iefix") format("embedded-opentype"),
    url("./assets/fonts/icomoon.ttf?kpoxqk") format("truetype"),
    url("./assets/fonts/icomoon.woff?kpoxqk") format("woff"),
    url("./assets/fonts/icomoon.svg?kpoxqk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vp-spinner {
  @mixin loading-spinner($activeColor: #fdb735, $selector: "&::before", $time: 1.5s) {
    @keyframes spinner {
      0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
      }

      100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
      }
    }

    animation-play-state: running;
    opacity: 1;
    position: relative;

    &.-paused {
      animation-play-state: paused;
      opacity: 0.2;
      transition: opacity linear 0.1s;
    }

    border: solid 3px #fdb735;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1rem auto;
    #{$selector} {
      animation: $time linear infinite spinner;
      animation-play-state: inherit;
      border: solid 10px rgba(255, 255, 255, 0);
      border-bottom-color: #{$activeColor};
      border-radius: 50%;
      content: "";
      height: 150px;
      left: 50%;
      opacity: inherit;
      position: absolute;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 150px;
      will-change: transform;
    }
  }

  .loading-spinner {
    @include loading-spinner;
    img {
      width: 80px;
      margin: 40px 30px;
    }
  }
}

.summary-chart {
  color: #4d4d4d;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.login-modal {
  width: 700px;
}

.metismenu-icon {
  text-align: center;
  padding: 0 1rem;
  font-size: 1.5em;
}

.icon-no-icon {
  padding: 0 !important;
  width: 0 !important;
}

.icon-arrow_collapse {
  padding: 7px 0;
  margin-left: auto;
  &:before {
    content: "\e900";
  }
}
.icon-arrow_expand {
  padding: 7px 0;
  margin-left: auto;
  &:before {
    content: "\e901";
  }
}
.icon-contact {
  &:before {
    content: "\e902";
  }
}
.icon-copyright {
  &:before {
    content: "\e903";
  }
}
.icon-groupinfo {
  &:before {
    content: "\e904";
  }
}
.icon-groupnotice {
  &:before {
    content: "\e905";
  }
}
.icon-hr {
  &:before {
    content: "\e906";
  }
}
.icon-language {
  &:before {
    content: "\e907";
  }
}
.icon-menu {
  &:before {
    content: "\e908";
  }
}
.icon-menu_term {
  &:before {
    content: "\e909";
  }
}
.icon-report {
  &:before {
    content: "\e90a";
  }
}
.icon-term_policy {
  &:before {
    content: "\e90b";
  }
}
.icon-training {
  &:before {
    content: "\e90c";
  }
}

.icon-sub-menu-lv2 {
  font-size: 12px;
  padding: 0 2.5em 0 1.8em;
}

.icon-menu-bullet-lv2 {
  &:before {
    content: "\e90d";
  }
}
.icon-kpi-learning {
  &:before {
    content: "\e913";
  }
}
.icon-kpi-teaching {
  &:before {
    content: "\e914";
  }
}
.upload-form {
  .file-upload {
    visibility: hidden;
    position: absolute;
  }

  .browse {
    border-radius: 0 3px 3px 0;
  }
}

#content-wrapper {
  background-color: #f2f2f2 !important;
  font-family: Arial, Helvetica, sans-serif;
}
.text-color-vp {
  color: #293281 !important;
}
.font-weight-500 {
  font-weight: 500;
}
.my-10 {
  margin: 10rem 0 !important;
}

.img-profile {
  height: 2.5rem !important;
  width: 2.5rem !important;
}
.no-bg {
  background: none !important;
}

.bg-login-image {
  background: url("./assets/img/Login590x590.png");
  background-position: center;
  background-size: cover;
}
.btn-login {
  background-image: linear-gradient(to right, #2e3192, #29abe2);
  border: none;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 16px;
}
.logo-login {
  max-width: 80%;
  padding: 5vh 0;
}
.language-selector {
  padding: 10px;
  button {
    cursor: pointer;
    padding: 0 5px;
    color: #2e3192;
    &:hover {
      text-decoration: none;
      font-weight: 700;
    }
  }
  .lang-active {
    font-weight: 700;
    &::before {
      margin-right: 5px;
      content: "\e907";
      font-family: "icomoon" !important;
    }
  }
}
.language-selector-main {
  button {
    cursor: pointer;
    padding: 0 5px;
    color: #2e3192;
    &:hover {
      text-decoration: none;
      font-weight: 700;
    }
  }
  .lang-active {
    font-weight: 700;
    &::after {
      margin-left: 5px;
      content: "\f0ac";
      font-family: "Font Awesome 5 Free";
    }
  }
}
.login-guide {
  margin-top: 1rem;
  button {
    font-weight: 700;
  }
}
.modal-content {
  border: none !important;
  background: none !important;
  .modal-header {
    background: #293281;
    padding: 0.5rem;
    border: none !important;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    .close {
      background: #fff;
      position: absolute;
      right: 0px;
      top: 0px;
      border-radius: 50%;
      padding: 0.5rem;
      color: #293281;
      font-size: 40px;
      font-weight: 700;
      opacity: 1;
      width: 40px;
      height: 40px;
      line-height: 1px;
      z-index: 999;
      text-shadow: none;
      &:hover {
        opacity: 1;
      }
      span {
        position: absolute;
        top: 16px;
        left: 6px;
      }
    }
  }
  .modal-body {
    background: #fff;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.pd-0 {
  padding: 0 !important;
}

.color-blue {
  color: #1aa6a4 !important;
}
.color-pink {
  color: #fc345b !important;
}

.news-home {
  .db-card-header {
    text-transform: uppercase;
    font-size: 20px;
  }
  .card-title {
    margin: 0;
    color: #585858;
    font-weight: 600;
    font-size: 18px;
  }
  .card-text {
    padding: 0.5rem 0;
    margin: 0;
    // border-left: 5px solid #00a8af;
  }
}

.user-infor-header {
  background: none;
  border: none;
  &:hover {
    background: none;
  }
  .username {
    float: left;
  }
}
.sidebar {
  width: 300px !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  animation: 0.5s;
  -moz-animation: 0.5s;
  -webkit-animation: 0.5s;
  -o-animation: 0.5s;
}
.pl-1 {
  padding-left: 1rem !important;
}

.bg-vp-blue {
  background: #293281 !important;
}

.sidebar-dark {
  .nav-item {
    .nav-link {
      i {
        margin-right: 20px;
      }
    }
  }

  .collapse {
    transition: width 2s;
    -webkit-transition: width 2s;
    .collapse-item {
      color: rgba(255, 255, 255, 0.8) !important;
      border-left: 3px solid #fff;
      border-radius: unset !important;
      margin-left: 38px !important;

      &:hover {
        background: none !important;
        color: #fff !important;
      }
    }
  }
}
.metismenu-link {
  padding-left: none !important;
  line-height: 3.5 !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
  &:hover {
    color: #f9c20a !important;
    text-decoration: none;
  }
}
.metismenu {
  background: #293281 !important;
  &::after {
    box-shadow: none !important;
  }
  .metismenu-container {
    box-shadow: none !important;
    background: none !important;
    .metismenu-item {
      .has-active-child {
        color: #f9c20a !important;
        background: rgba(255, 255, 255, 0.05);
      }

      .active {
        background: none;
        color: #f9c20a !important;
      }
    }

    .visible {
      .metismenu-item {
        margin: 0;
        padding: 0;
        ul {
          margin-left: 2em;
        }
        .metismenu-link {
          padding-left: 3em !important;
        }
        a {
          &:hover {
            background: none !important;
            color: #f9c20a !important;
          }
        }
      }
    }
  }

  .fa-no-icon {
    width: 0 !important;
  }
}

.navbar-search {
  button {
    border-radius: 20px;
  }
  input {
    border-radius: 20px;
    font-size: 15px !important;
    padding-left: 0 !important;
    width: 20vw !important;
  }
}

.table-bordered {
  th,
  td {
    border: none !important;
    &:hover {
      color: #4d4d4d;
    }
  }
  th {
    text-transform: uppercase;
  }
  tbody tr:nth-of-type(odd) {
    background-color: #f4f3f8;
  }
  color: #4d4d4d;
}

.page-link {
  color: #515151;
}
.page-item.active {
  .page-link {
    background-color: #f8c20b !important;
    border-color: #f8c20b !important;
  }
}

.paging-pagesize {
  button {
    background: #fff;
    color: #585858;
    border: 1px solid #ccc;
  }
}

.vp-loading {
  img {
    width: 80px;
    position: absolute;
    left: 70px;
    top: 80px;
  }
  .loader {
    border: 5px solid #df9d25;
    border-top: 10px solid #df9d25;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loading-note {
  color: white;
  padding-top: 1em;
}

.blank-page-cover {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("./assets/img/vp_vinpearl-luxury-landmark-81-banner.jpg");
}
.vp-logo {
  width: 60%;
  padding: 3rem 1rem 1rem 1rem;
}

.color-283280 {
  color: #283280 !important;
}

.training-kpi-progress {
  height: 3rem !important;

  .progress-bar {
    text-align: left;
    padding-left: 10px;
    position: relative;

    &:after {
      height: 3rem;
      width: 3rem;
      content: " ";
      border-bottom: 3rem solid #fff;
      border-right: 3rem solid transparent;
      position: absolute;
      right: -3rem;
    }
  }
}

.learning-progress {
  .progress-bar {
    background: #ff6724;
    &:after {
      border-bottom: 3rem solid #ff6724;
    }
  }
}

.teaching-progress {
  .progress-bar {
    background: #65b820;
    &:after {
      border-bottom: 3rem solid #65b820;
    }
  }
}
.kpi-training {
  font-size: 5rem;
  color: #fff;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin: 1.1rem auto;
  padding: 0.6rem 0;
}

.kpi-learning {
  background: #fe6927;
  background: linear-gradient(0deg, #fe6927 0%, #f88451 50%, #f59062 100%);
}

.kpi-teaching {
  background: #67ba24;
  background: linear-gradient(0deg, #67ba24 0%, #82cc43 50%, #90d753 100%);
}

.training-kpi-info {
  font-size: 1.2rem;
  padding: 1rem 0;
  i {
    color: #d8d8d8;
  }
  span {
    float: right;
    font-weight: 600;
  }
}

.color-fe6927 {
  color: #fe6927 !important;
}

.color-67BA24 {
  color: #67ba24 !important;
}

.table-checklist {
  td {
    vertical-align: middle;
    color: #4d4d4d;
  }
  .odd-tr {
    background: #f4f3f8;
  }
}

/* news */
.list-news {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  h5 {
    color: #293281;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
  }
  .text-sm{
    font-size: 14px;
  }
  .news-item {
    border-radius: 0.5em;
    height: 100%;

    .news-author {
    }
    .news-source {
      a {
        font-style: italic;
      }
    }
  }
}

.content-margin-bottom {
  margin-bottom: 30px !important;
}

.news-thumbnail {
  height: 250px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 0.5em 0.5em 0 0;
  background-color: #cccccc;
  .image-top-radius {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
  }
}
.news-detail {
  text-align: justify;
  figure {
    display: block;
    margin: 1em auto;
    text-align: center;
    max-width: 100% !important;
  }
  img {
    max-width: 95%;
    height: auto;
    display: block;
    margin: 0.5em auto;
  }
}

.no-padding {
  padding: 0px !important;
}
.content-padding {
  padding: 8px;
}

.datetime-info {
  font-size: 14px;
  margin-right: 10px;
  color: #a7a7a9;
}

#contentNewsDetail img {
  max-width: 100%;
  vertical-align: middle;
}

.news-home-item{
  .nhome-thumbnail{
    width: 150px;
    height: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    float: left;
    margin-right: 10px;
  }

  a{
    &:hover{
      text-decoration: none;
    }
  }

}

/* news */
.temp-class{
  font-style: italic;
  font-size: 13px;
}

.news-app{
  padding: 1em;
}

/* benefit */
#benefit-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2A377C;  
  margin : 10px 0 20px 10px;
}

.benefit-title-row {
  color: #4D4D4D;
}
